.divPadreDetail {
    width: 100vw;
    height: 100vw;
    background-image: url("https://www.teahub.io/photos/full/162-1621646_gif-wallpapers-hd-wallpapercraft-free-outer-space-background.gif");
    background-repeat: no-repeat;
    background-size: 100vw 100vw;
    display: flex;
    position: relative;
    text-align: center;
    font-size: 1.3rem;
    
}

.contenedorInfo {
    background-color: blanchedalmond;
    width: fit-content;
    height: fit-content;
    opacity: 50%;
    margin-left: 5rem;
    margin-top: 3rem;
    
}

.imageDetail{
width: 400px;
height: 400px;
border-radius: .5rem;
margin-left: 20rem;
margin-top: 3rem;
border: 3px solid white;
}

